<div class="main-content">
    <div class="container-fluid">

<a style="background: #725787;" (click)="OpenDialogAdd( niveau, '600ms', '600ms')"  class="btn btn-round"><i class="fas fa-plus" style="color: white;"></i> Ajouter</a> Les filières disponible en {{ niveau.nom }}
    <div class="row">
            <div class="col-lg-6 col-md-12" *ngFor="let filiere of filieres">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">{{ filiere.nom }}</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"> <div> <span class="btn btn-round"[routerLink]="['/detail-filiere', filiere.idFiliere]"><i class="fas fa-eye"> details </i></span>
                            <span class="btn btn-round" (click)="openEditForm(filiere,'600ms', '600ms')"  style="margin-left: 30px;" ><i class="fas fa-edit"></i> Modifier</span>
                            <button style="background-color: red !important; box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;" class="btn btn-round" (click)="onDelete(filiere)"><i class="fas fa-trash"></i> Supprimer </button>   
                        </div> </div>
                    </div>
                </div>
            </div> 
    </div>
    </div>
</div>