

<div class="main-content">
    <div class="container">
       

        
       

        
        <!-- tableau  -->

        <div class="row">
            <div class="col-12 grid-margin">
                <h4 class="card-title">Liste des cotisations</h4>
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> ID</th>
                          <th> Créer Par</th>
                          <th> Nombre Personnes </th>
                          <th> Crée Le</th>
                          <th> Nom Groupe</th>
                          <th> Prix Cotisation</th>
                          <th>Nombre De Paiement </th>
                          <th>Date Fin </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> 1</td>
                          <td> Moussa </td>
                          <td>BANE </td>
                          <td> WD-12345 </td>
                          <td> 200.000</td>
                          <td>
                            350
                            </td>
                          <td>
                            350
                            </td>
                            <td>16-12-2023</td>
                        </tr>
                        <tr>
                            <td> 1</td>
                            <td> Moussa </td>
                            <td>BANE </td>
                            <td> WD-12345 </td>
                            <td> 200.000</td>
                            <td>
                              350
                              </td>
                            <td>
                              350
                              </td>
                              <td>16-12-2023</td>
                          </tr>
                        <tr>
                        
                          <td> 3 </td>
                          <td> Amadou</td>
                          <td> Traoré</td>
                          <td> WD-12347 </td>
                          <td> WD-12347 </td>
                          <td>
                            400.000
                            </td>
                          <td>
                            350
                            </td>
                        
                            <td>16-12-2023</td>
                         </tr>
                        <tr>
                          
                          <td> 4</td>
                          <td> Oumar </td>
                          <td> Sall </td>
                          <td> WD-12348 </td>
                          <td> WD-12348 </td>
                          <td>
                            600.000
                            </td>
                          <td>
                            350
                            </td>
                         
                            <td>16-12-2023</td>
                         </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fin  -->
          



    </div>
  </div>
  