







<!-- <div  mat-dialog-content class="mat-typography"> -->
    <div class="add-doctor-container" >
        <h2 class="title" >Ajouter un admin</h2> <br>
        <div class="trait"> </div>
      
        <div class="form-container">
          <div class="image-preview">
            <img [src]="imagePreview">
      
          </div>
          <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" >
          
          <h4 class="title" style="margin-left: 290px; cursor: pointer; margin-top: 30px;" (click)="triggerImageUpload()">
            Charger l'image</h4>
          <input type="file" #imageInput style="display: none;" formControlName="image" (change)="ImageChange($event)" accept="image/*"
            class="input-field">
      
            <div class="input-group">
              <!-- <label for="">Nom de la banque</label> <br> -->
              <input type="text" style="margin-top: -10px;" formControlName="nom" placeholder="Prénom"  class="input-field">
            <!-- <label for="" style="margin-top: 15px;">Adresse de la banque</label> <br> -->
              <input type="text" formControlName="prenom" placeholder="Nom"  class="input-field">
              <input type="text" formControlName="email" placeholder="Email"  class="input-field">
              <input type="text" formControlName="motDePasse" placeholder="Mot de passe"  class="input-field">
              <select name="" id="" class="input-field" formControlName="banque" style="width: 182px;">
                <option value="">Choisissez une banque</option>
                <option *ngFor="let banque of bank" [ngValue]="banque">{{ banque.nom }}</option>   
    
             </select>
              
            </div>
            
            <button type="submit"  class="add-button">
              <i class="fa fa-plus"> </i>
              Ajouter</button>
          </form>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="add-button" style="margin-left: 5%; margin-top: -32%;">Annuler</button>
          </div>
        </div>
      </div>
      
      <!-- </div> -->
      
      