<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" >
                <div class="card card-stats" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <p class="card-category">Demandes en cours</p>
                  
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                           
                            
                            <div class="nombre"> 700</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <p class="card-category">Demandes Validées</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div class="nombre">
                            520
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-close"></i>
                        </div>
                        <p class="card-category">Demandes Rejetées</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div class="nombre">
                            100
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <p class="card-category">Groupes De Cotisations</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div class="nombre">
                            80
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
       

        
        <!-- tableau  -->

        <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Liste de quelques demandes</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Numero Demande </th>
                          <th> Nom </th>
                          <th> Prenom </th>
                          <th> Email</th>
                          <th> Date demande </th>
                          <th> Statut</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                             David Grey
                          </td>
                          <td> Fund is not recieved </td>
                          <td> Fund is not recieved </td>
                          <td> Dec 5, 2017 </td>
                          <td> WD-12345 </td>
                          <td>
                            <label class="state" style="color: green;">Validée</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Stella Johnson
                          </td>
                          <td> High loading time </td>
                          <td> High loading time </td>
                          <td> Dec 12, 2017 </td>
                          <td> WD-12346 </td>
                          <td>
                            <label class="state" style="color: green;">Validée</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                             Marina Michel
                          </td>
                          <td> Website down for one week </td>
                          <td> Website down for one week </td>
                          <td> Dec 16, 2017 </td>
                          <td> WD-12347 </td>
                          <td>
                            <label class="state" style="color: yellow;">En cours</label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            John Doe
                          </td>
                          <td> Loosing control on server </td>
                          <td> Loosing control on server </td>
                          <td> Dec 3, 2017 </td>
                          <td> WD-12348 </td>
                          <td>
                            <label class="state" style="color: red;">Réjetée</label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fin  -->
          



    </div>
  </div>
  