



<!-- <div  mat-dialog-content class="mat-typography"> -->
    <div class="add-doctor-container" >
        <h2 class="title" >Modifier une banque</h2> <br>
        <div class="trait"> </div>
      
        <div class="form-container">
          <div class="image-preview">
            <img [src]="imagePreview">
      
          </div>
          <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
          
          <h4 class="title" style="margin-left: 290px; cursor: pointer; margin-top: 30px;" (click)="triggerImageUpload()">
            Charger l'image</h4>
          <input type="file" #imageInput style="display: none;" formControlName="image" (change)="ImageChange($event)" accept="image/*"
            class="input-field">
      
            <div class="input-group">
              <!-- <label for="">Nom de la banque</label> <br> -->
              <input type="text" style="margin-top: -10px;"  formControlName="nom" placeholder="Nom de la banque"  class="input-field">
            <!-- <label for="" style="margin-top: 15px;">Adresse de la banque</label> <br> -->
              <input type="text" formControlName="adresse" placeholder="Adresse de la banque"   class="input-field">
               
                <!-- <select  class="input-field" formControlName="admin">
                  <option value="" class="input-field">Choississez un administrateur</option>
                  <option *ngFor="let admin of admins" [ngValue]="admin"  >{{ admin.prenom?.toUpperCase() }}   {{admin.nom?.toUpperCase()}}</option>   
                  </select> -->
            </div>
             
            <button type="submit"  class="add-button" style="margin-top: -1%;">
              <i class="fa fa-save"> </i>
              Modifier</button>
          </form>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="add-button" style="margin-left: 5%; margin-top: -28%;">Annuler</button>
          </div>
        </div>
      </div>
      
      <!-- </div> -->
      
      